@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	font-family:"sans-serif";
	
}
video{  
            position: fixed;  
            right: 0px;  
            bottom: 0px;  
            min-width: 100%;  
            min-height: 100%;  
            height: auto;  
            width: auto;  
            /*加滤镜*/
            /*filter: blur(15px); //背景模糊设置 */
            /*-webkit-filter: grayscale(100%);*/  
            /*filter:grayscale(100%); //背景灰度设置*/  
            z-index:-11
        }  
        source{  
            min-width: 100%;  
            min-height: 100%;  
            height: auto;  
            width: auto;  
        } 
.navbar{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #d4d7de;
	width: 100%;
	height: 70px;
	z-index: 1;
}
.nav{
	display: flex;
	justify-content: right;
	list-style: none;
	margin-left: 0;
}
.logo{
	flex: 1 1 auto;
	margin-left: 10%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 35px;
}
a{
	margin:15px;
	color:#000;
	text-decoration: none;
	text-transform: uppercase;
}
a:hover{
	color: #FFFFFF;
}
.nav1{
	display: flex;
	justify-content: right;
	list-style: none;
	margin-right: 15%;
}
